# Dependencies
node_modules/

# Environment variables
.env
.env.*

# RSA keys / sensitive files
keys/

# Generated / build files
dist/
build/

# Upload files
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db